[Unit]
Description=Celery Starting Celery Restart Ring Safe
After=network.target jupyter-hub-controller.service
PartOf=jupyter-hub-controller.service

[Service]
Type=simple
WorkingDirectory=/root/jupyter-hub-controller
EnvironmentFile=/root/jupyter-hub-controller/.env
Environment="PATH=/root/jupyter-hub-controller/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/root/jupyter-hub-controller/.venv/bin/celery -A hub_controller worker --loglevel=info --queues=ring_safe_queue --concurrency=1 --hostname=worker_ring_safe@%h --max-memory-per-child=500
Restart=always

[Install]
WantedBy=jupyter-hub-controller.service
